{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock title %}

{% block background %}{% load static %} {% static 'core/img/about-bg.jpg' %} {% endblock background %}

{% block h %}Acerca de{% endblock h %}

{% block subtitle %}Biografía{% endblock subtitle %}

{% block content %}
    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Anthony Smith</h2>
          <p>Sujeto bergas</p>
          <p>Estudiante de la Lic. Sistemas de información Administrativa en la Universidad de Guanajuato
             Conocimientos en: Back-End, Seguridad Informatica, Hardware, Linux, Desarrollo web, Desarrollo Mòvil, etc.
             Actor de teatro
             CEO de Smith Clean --> https://www.facebook.com/SmithClean/
             Miembro de FutureLab --> https://www.facebook.com/f.lab.mx/
             </p>
        </div>
      </div>
    </div>
{% endblock content %}
