{% extends 'core/base.html'%}

{% block title %}Contacto{% endblock title %}

{% block background %}{% load static %} {% static 'core/img/contact-bg.jpg' %} {% endblock background %}

{% block h %}Contacto{% endblock h %}

{% block subtitle %}Asesoría{% endblock subtitle %}

{% block content %}
    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <br>
          <p><b>Correo:</b> anthonysmithvg@outlook.com </p> <br/> <br/>
            
          <a href="http://bit.ly/2TQOJST" target="_blank" class="btn btn- large btn-success" type="submit" style="align-Center">WhatsApp</a><br/>
            
        </div>
          <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="es_ES" data-type="horizontal" data-theme="light" data-vanity="anthonysmithvg"><a class="LI-simple-link" href='https://mx.linkedin.com/in/anthonysmithvg?trk=profile-badge'>Anthony Smith Victoria Godinez</a></div>
      </div>
    </div>
{% endblock content %}
