{% extends 'core/base.html'%}

{% block title %}Contacto{% endblock title %}

{% block background %}{% load static %} {% static 'core/img/contact-bg.jpg' %} {% endblock background %}

{% block h %}Contacto{% endblock h %}

{% block subtitle %}Asesoría{% endblock subtitle %}

{% block content %}
    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <br>
          <p><b>Teléfono:</b> +52 4641086427 </p>
          <p><b>Honorarios:</b> 60€/h (precio base)</p>
        </div>
      </div>
    </div>
{% endblock content %}
